    <style>
        canvas {
            background-color: rgb(30, 30, 30);
            position:relative;
        }

    </style>


    <canvas class="col-md-12" style="margin:0;padding:0;border:1px solid black;"></canvas>
    Particle Count: <input type="text" id="particleCount" class="particleCount" value="600" onkeypress=""> 
    <input type="submit" class="btn btn-primary" onclick="init()" value="Render"> 
    <a type="button" class="btn btn-primary" href="/animation2" value="Next"> Next </a> 

    <script src="/js/canvas.js"></script>