<div class="row">
	<aside class="col-md-3">
		<h3>Contact Information</h3>
		<ul>
			<li>
				<a href="mailto:jkwan34@myseneca.ca">jkwan34@myseneca.ca</a>

			</li>
			<li>
				<a href="mailto:kwanjas0412@gmail.com">kwanjas0412@gmail.com</a>

			</li>
			<li>
				<a href="mailto:jase.kwan@alum.utoronto.ca">jase.kwan@alum.utoronto.ca</a>
			</li>

			<li>
				<a href="https://www.linkedin.com/in/jason-kwan-48277a106/">Linkedin</a>
			</li>
		</ul>
		<h3>Deployed on Heroku</h3>
		<h4>

			<button type="button" data-html="true" class="btn btn-primary" data-toggle="popover" title="Dependencies" data-content="bcryptjs: ^2.4.3, <br>
			body-parser: ^1.18.2, <br>
			client-sessions: ^0.8.0,<br>
			express: ^4.16.2,<br>
			express-handlebars: ^3.0.0,<br>
			handlebars: ^4.0.11,<br>
			mongoose: ^4.13.7,<br>
			pg: ^7.4.0,  <br>
			pg-hstore: ^2.3.2,<br>
			sequelize: ^4.23.1">List of Dependencies</button>

		</h4>
		<p>This webpage is built on express, node and handlebars template engine</p>
		<p>The buttons on the navigation bar will redirect you to a webpage that utilizes promises, sequelize, handlebars. The database
			is hosted by Heroku using AWS. The comments section is hosted as on mlab MongoDb.

			<a href="https://github.com/kwanjas3/jkresumeSRC">Source Code</a>
		</p>
		<br>
		<p>In order to access the information: All Employees/Managers/Departments</p>
		<ul>
			<li>Username: Testing</li>
			<li>Password: Testing</li>
		</ul>
		<p>Alternatively, you can register your own test account, the password is encrypted using bcrypt module</p>
		<code>
			bcrypt.genSalt(10, function (err, salt) { // Generate a "salt" using 10 rounds <br><br>
                bcrypt.hash(userData.password, salt, function (err, hash) { <br>
                    userData.password = hash; ... }<br>
		</code>
		<br>


	</aside>
	<section class="main col-md-9">
		<article>
			<h2>Education</h2>
			<h4>Seneca@York Campus</h4>
			<p>Ontario College Advanced Diploma (2017 - 2019) 4.0/4.0 GPA
			</p>
			<div style="height:480px;width:100%;overflow:auto;">
				<ol>
					<li>
						<a href="https://github.com/kwanjas3/c1516">C: Grocery Inventory System Project</a>
						<br> • Implemented some core functions such as search(), list(), display(), delete()

					</li>
					<li>
						<a href="https://github.com/kwanjas3/cpp1617/tree/master/MS6">C++: Aid Management App Project</a>
						<br> • Abstract base class and pure virtual functions
						<br> • Implemented an error management class to handle error messages
						<br> • Create an app that reads csv files with custom delimiters
						<br> • Pipes output to create a proper graphviz gv file; creates a png graph
						<br> • Multi-threading using vectors and bind and mutexes

					</li>
					<li>
						<a href="https://github.com/kwanjas3/DogeCards">JavaScript: Memory Game with randomized cards</a>
						<br> • Utilized math library to randomize array for a simple game
					</li>
					<li>
						<a href="https://github.com/kwanjas3/InterestingStuff/tree/master">Express.js, Handlebars, Node.js, ORM PostGre AWS, ODM MongoDB/Mongoose</a>
						<br> • Deployed server on Heroku with functions to handle requests/responses
						<br> • Parsing JSON objects using template engine
						<br> • Database using Heroku Postgre, AWS and pgAdmin
						<br> • Database DRM using mlab MongoDb
						<br> • Created a MongoDB login system that stores encrypted passwords using bcryptjs and client-sessions
					</li>
					<li>Linux
						<br>
						<a href="https://github.com/kwanjas3/linuxScripts">• Basic scripting and Command Line #!/bin/bash </a>
						<br> • Permission Octals
					</li>
					<li>
						<a href="http://zenit.senecac.on.ca/~sys366_173b08/">FishHackathon Group</a>
						<br> • Developing an idea to facilitate better data collection for nuisance algae
						<br>
						<a href="https://github.com/elsa-ng/jje-fish">Source Code</a>
					</li>
					<li>
						<a href="https://github.com/kwanjas3/ERDAssignment">SQL</a>
						<br>• Querying and creating database schemas on IBM iSeries and AS400
						<br>• Querying and creating database schemas and views on Oracle
					</li>
					<li>
						<a href="https://github.com/kwanjas3/Java/tree/master">Java Programming</a>
						<br>• Created a cost simulation program using OOP principles
						<br>• Basic Java fundamentals, fileScanning, classes,
						<br>&nbsp; inheritance, interfaces, arrayLists and hashMaps
					</li>
					<li>
						<a href="https://github.com/kwanjas3/CSharpUnity">Unity C#</a>
						<br>• Created Roll-a-Ball game that picks up cubes utilizing physics, collision/trigger detection and rigidbodies
						<br>• Learned and Utilized Unity library for scripting game objects.
						<br>• Added a jump mechanic for the ball-player object
						<br>• Created Space Shooter game that has sounds effects, object referencing, directional lighting
						<br>• Created randomized Asteroid generation with angularVelocity(spin)
						<br>• Garbage Collection of Assets
						<br>• knowledge of animation controllers, layers, colliders, prefabs, animation transitions and UI Canvas
					</li>
					<li>
						<a href="https://github.com/kwanjas3/jspstuff">JSP WebApps</a>
						<br>• Created form to post to another page and uses getParameter() to parse and display the posted information

					</li>
					<li>
						<a href="https://reactdeployed.herokuapp.com">React WebApp</a>
						<br>• Created WebApp that fetches and displays the posted information using API
					</li>
					<li>
						<a href="https://kwanjas3.github.io/angulardemo/">Angular WebApp</a>
						<br>• Created WebApp to practice Interpolation, Property & Event Binding,
						<br>• Routing, Services, and simple animations
					</li>
					<li>
						<a href="https://github.com/kwanjas3/electrondemo">Electron App</a>
						<br>• Utilized Electron Framework to create and package a win32 app using Javascript
					</li>
					<li>
						<a href="https://github.com/kwanjas3/vuejsdemo">VueJS App</a>
						<br>• Created simple website with animations utilizing VueJS framework
					</li>

				</ol>
			</div>

			<h4>University of Toronto</h4>
			<br> Physical Geography Major
			<br> Human and Environmental Minor
			<br>
			<br>
		</article>
	</section>
</div>