<div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6DGz2ogP9ys" frameborder="0" gesture="media" allow="encrypted-media"
        allowfullscreen></iframe>
</div>

<div class="row">
    <div col-md-12 style="text-align:center">
        <h3>Captured using OBS,
            <br> edited with Sony Vegas Pro 13</h5>
    </div>
</div>